/* ActionBar.css */

.action-bar {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    display: flex;
    background-color: #fff;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
}

.action-btn {
    flex: 1;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    background-color: #eee;
    color: #333;
    transition: background-color 0.2s;
}

.action-btn.active {
    background-color: #fff;
    color: #000;
}
