/* import './css/fonts.css'; */

@font-face {
    font-family: '나눔고딕';
    src: url('/assets/font/나눔고딕.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: '나눔손글씨 장미체';
    src: url('/assets/font/나눔손글씨장미체.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: '휴면편지체';
    src: url('/assets/font/휴면편지체.TTF') format('truetype');
    font-weight: 400;
    font-style: normal;
}
