.header-wrapper {
    width: 100%;
    height: 100px;
    background: var(--card-bg);
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    top: 0;
    left: 0;
    z-index: 100;
}

/* 로고 (그대로) */
.header-logo {
    font-size: 36px;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    background: linear-gradient(180deg, #5f9dffff 40%, #ff80c0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* 버튼 그룹 */
.button-wrapper {
    display: flex;
    gap: 10px;
    margin-right: 50px;
}

/* 액션 버튼 */
.action-button {
    padding: 12px 24px;
    border-radius: 6px;
    border: none;
    color: var(--text);
    cursor: pointer;
}

.action-button.primary {
    background: var(--primary);
}

.action-button:not(.primary) {
    background: var(--btn-bg);
}
