/* 전체 레이아웃 */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.layout {
width: 100%;
height: 100vh;
display: flex;
gap: 24px;
overflow-y: auto;
position: relative;
background: var(--bg);
color: var(--text);
}

/* 좌측 영역 */
.left {
width: 600px;
}

/* 우측 영역 */
.right {
flex: 1;
}

/* 설정창 백드롭 */
.backdrop {
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100vh;
background-color: rgba(0, 0, 0, 0.4);
z-index: 1500;
cursor: pointer;
}

/* 스크롤바 숨기기 */
::-webkit-scrollbar {
display: none;
}

*{
scrollbar-width: none;
-ms-overflow-style: none;
}