/* Login.css */



.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #D8EFFA 40%, #fff);
}


.login-form {
    width: 100%;
    max-width: 500px;
    height: 500px;
    background: #ffffff;
    padding: 40px;
    border-radius: 40px;
    border: solid 2px #eee;
}

/* 제목 */
.login-logo {
    font-size: 64px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(180deg, #5f9dffff 40%, #ff80c0ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    
}


/* 입력 필드 */
.input {
    width: 100%;
    height: 50px;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

.input:focus {
    border-color: #3b82f6;
    outline: none;
}

/* 주요 버튼 */
.login-button {
    width: 100%;
    padding: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    margin: 32px 0;
    background: #3b82f6;
    color: #fff;
}


/* 링크처럼 보이는 버튼 */
.link-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    
}

/* 오류 메시지 */
.error-message {
    margin-top: 16px;
    font-weight: 500;
    color: #ef4444;
}