/* 공통 레이아웃 */
.calendar-wrapper {
    background-color: var(--card-bg) !important;
    width: 100%;
    margin: 10px;
}

.calendar-wrapper .react-calendar {
    width: 100%;
    min-width: 360px;
    border: none;
    font-size: 24px;
    background-color: var(--card-bg) !important;
    color: var(--text) !important;
}

.react-calendar__tile {
    height: 100px;
    display: flex;
    flex-direction: column;
    background-color: var(--card-bg) !important;
    color: var(--text) !important;
}

.react-calendar__tile--active {
    background-color: var(--primary) !important;
    color: var(--card-bg) !important;
}

.react-calendar__tile--now {
    background-color: var(--primary-light) !important;
    color: var(--card-bg) !important;
}

.react-calendar__month-view__days__day {
    color: var(--text) !important;
}

.react-calendar__navigation button {
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--text-sub) !important;
}

/* 기본 캘린더 숨기기 */
.calendar-wrapper .react-calendar__navigation {
    display: none !important;
}

/* 커스텀 헤더 */
.calendar-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
}

.calendar-year-text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-sub) !important;
}

.calendar-month-text {
    font-size: 30px;
    font-weight: 700;
    color: var(--primary) !important;
}

.calendar-month-row {
    display: flex;
    gap: 30px;
    align-items: center;
}

.calendar-arrow {
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
    color: var(--text-sub) !important;
}

.calendar-dot-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 4px;
    gap: 4px;
}

.calendar-dot {
    width: 6px;
    height: 6px;
    background: var(--primary-light);
    border-radius: 50%;
    margin-left: 2px;
}

.calendar-dot:first-child {
    margin-left: 0;
}
