/* Journal.css */

.journal-wrapper {
    height: 100%;
    background: #999;
    display: flex;
    flex-direction: column;
}

/* 메시지 영역 */
.messages {
    background: #fff;
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* 메시지 행 */
.message-row {
    display: flex;
    align-items: flex-end;
}

.message-row.user {
    justify-content: flex-end;
}

.message-row.ai {
    justify-content: flex-start;
}

/* 말풍선 */
.bubble {
    max-width: 70%;
    padding: 20px 40px;
    border-radius: 100px;
    font-size: 16px;
    color: #111;
}

.bubble.user {
    background: #E0E0E0;
}

.bubble.ai {
    background: #D8EFFA;
}

/* 시간 텍스트 */
.time {
    font-size: 11px;
    color: #777;
}


/* 입력 영역 */
.input-area {
    display: flex;
    position: fixed;
    bottom: 0;
    background: #fff;
    padding: 50px;
    align-items: flex-start;
    position: relative;
}

.input-area::before {
    content: "";
    position: absolute;
    top: -6px;
    left: 0;
    width: 100%;
    height: 6px;
    pointer-events: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.08), rgba(0,0,0,0));
}


/* 텍스트 입력 */
.text-input {
    flex: 1;
    height: 200px;
    border: none;
    resize: none;
    outline: none;
    font-size: 24px;
}

/* 버튼 */
.btn {
    padding: 16px 32px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-size: 24px;
}

.btn.primary {
    background: #337AF7;
    color: #fff;
}

.btn.secondary {
    background: #E0E0E0;
    color: #fff;
}
