
.setting-wrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    height: 100vh;
    background-color: #fff;
    box-shadow: -4px 0 12px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    padding: 24px;
}

.setting-wrapper.open {
    transform: translateX(0);
}



.setting-back-button {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    margin-bottom: 40px;
    color: #333;
}


.menu-item {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    margin-bottom: 8px;
    overflow: hidden;
}

.menu-header {
    padding: 16px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #111;
}

.menu-header:hover {
    background: #f0f0f0;
}

.sub-menu {
    padding: 0 16px;
    background: #f0f0f0;
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

.sub-menu.open {
    max-height: 300px;
}

.sub-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 0;
    font-size: 16px;
    color: #666;
    
}

.sub-item:last-child {
    border-bottom: none
}

.sub-item-btn {
    border: none;
    background: none;
    font-size: 16px;
    color: #666;
    cursor: pointer;
}

.sub-item-btn:hover {
    color: #337AF7;
}



.arrow {
    color: #aaa;
    transition: transform 0.2s;
}
.arrow.open {
    transform: rotate(90deg);
}
